{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block app_content %}
<div class="container">
	<div class="row">
		<div class="col">
			<h4>Choose your view</h4>
			<form action="" method="post">
				{{ form.hidden_tag() }}
				{{ wtf.form_field(form.org, button_map={"org": 'primary'}) }}
				{{ wtf.form_field(form.gray, button_map={"gray": 'primary'}) }}
				{{ wtf.form_field(form.edgev, button_map={"edgev": 'primary'}) }}
				{{ wtf.form_field(form.edgeh, button_map={"edgeh": 'primary'}) }}
			</form>
		</div><br>
		<div class="col">
			{% if filename %}
				<img src="{{ url_for('static', filename='images/' + filename) }}" alt="Your uploaded image", width="600", height="300">
			{% endif %}
		</div>
</div>
{% endblock %}